// Colors
$color-gray: #E6E6E6;
$color-gray-light: #EFEFEF;
$color-text: #535353;
$color-text-dark: #2F2F2F;


// Fonts
$font-main: 'Montserrat', sans-serif;

//Breakpoints
$laptop: 1439.9;
$laptop-min: 1199.9;
$tablet: 1023.9;
$mobile: 767.9;
$mobileSmall: 424.9;