.about {
  &__picture {
    width: 100%;
    max-width: rem(620);
    height: rem(526);
    border-radius: rem(20);
    overflow: hidden;
    @include r($tablet) {
      max-width: none;
      height: rem(400);
    }
    @include r($mobile) {
      height: rem(240);
    }

    img {
      object-fit: cover;
    }
  }

  &__description {
    width: 100%;
    max-width: rem(630);
    @include r($tablet) {
      max-width: none;
    }
  }
}