.logo {
  display: block;
  width: 100%;
  max-width: rem(210);
  max-height: rem(33);
  @include r($mobile) {
    max-width: rem(137);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  &--footer {
    max-width: rem(266);
  }
}