<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section mb-110 mbm-20">
      <span class="section__anchor" id="intro"></span>
      <div class="container container--wide">
        <div class="intro">
          <picture class="intro__picture">
            <img src="./assets/images/img-intro.jpg" alt="">
          </picture>
          <div class="intro__caption">
            <div class="intro__caption-content">
              <div class="intro__title">Открывайте двери к успеху с нашими коммерческими решениями:
              </div>
              <div class="intro__subtitle">ворота, двери и напольные покрытия для любых объектов</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section about mb-130 mbm-60">
      <span class="section__anchor" id="about"></span>
      <div class="container">
        <div class="section__side-mark" data-title="Почему выбирают нас"></div>
        <div class="columns mb-140 mbm-50">
          <div class="columns__col--6 columns__col-tab--12">
            <picture class="about__picture">
              <img src="./assets/images/img-1.jpg" alt="">
            </picture>
          </div>
          <div class="columns__col--6 columns__col-tab--12">
            <div class="about__description">
              <h1 class="title title--content">Баулюкс - это компания, основанная группой профессионалов с большим
                опытом
                в строительном бизнесе.
              </h1>
              <div class="editor editor--18">
                <p>С момента основания в 2005 году, в качестве представителя крупного европейского производителя дверей,
                  Bauluks покоряет новые вершины в дистрибуции дверной продукции, став узнаваемым брендом среди
                  строительных подрядчиков. Почти за 20 лет работы, мы осуществляли доставку дверей по СНГ и Европе, а с
                  2023 мы с гордостью готовы предложить весь ассортимент наших продуктов в Казахстане, Таджикистане,
                  Кыргызстане и Узбекистане, имея постоянное представительство в Астане. <b>Нашим новым клиентам мы
                    готовы
                    предложить прямой выход на производителей в Европе, России и Республике Беларусь.</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="title title--line mb-90 mbm-25">Почему выбирают нас</h3>
        <div class="columns">
          <div class="columns__col--3 columns__col-laptop-min--4 columns__col-tab--6 columns__col-mob--12">
            <div class="about-card">
              <div class="about-card__icon">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-microscope"></use>
                </svg>
              </div>
              <div class="about-card__content">
                <div class="about-card__title">Индивидуальный подход</div>
                <div class="about-card__text">Мы глубоко погружаемся в специфику объекта каждого клиента</div>
              </div>
            </div>
          </div>
          <div class="columns__col--3 columns__col-laptop-min--4 columns__col-tab--6 columns__col-mob--12">
            <div class="about-card">
              <div class="about-card__icon">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-pig"></use>
                </svg>
              </div>
              <div class="about-card__content">
                <div class="about-card__title">Низкие цены</div>
                <div class="about-card__text">За годы сотрудничества мы установили тесные связи с производителями и для
                  нас действуют особые скидки
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col--3 columns__col-laptop-min--4 columns__col-tab--6 columns__col-mob--12">
            <div class="about-card">
              <div class="about-card__icon">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-lorry"></use>
                </svg>
              </div>
              <div class="about-card__content">
                <div class="about-card__title">Доставляем двери <br> из разных стран</div>
                <div class="about-card__text">Наши двери производятся в таких странах, как Германия, Италия, Испания,
                  Польша, Чехия, Беларусь и Россия
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col--3 columns__col-laptop-min--4 columns__col-tab--6 columns__col-mob--12">
            <div class="about-card">
              <div class="about-card__icon">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-settings"></use>
                </svg>
              </div>
              <div class="about-card__content">
                <div class="about-card__title">Автоматизированное производство</div>
                <div class="about-card__text">Весь спектр наших товаров производится на роботизированных линиях с
                  минимальным влиянием человеческого фактора
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col--3 columns__col-laptop-min--4 columns__col-tab--6 columns__col-mob--12">
            <div class="about-card">
              <div class="about-card__icon">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-medal"></use>
                </svg>
              </div>
              <div class="about-card__content">
                <div class="about-card__title">Более 15 лет на рынке</div>
                <div class="about-card__text">За это время мы узнали все детали и особенности дверной индустрии</div>
              </div>
            </div>
          </div>
          <div class="columns__col--3 columns__col-laptop-min--4 columns__col-tab--6 columns__col-mob--12">
            <div class="about-card">
              <div class="about-card__icon">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-houses"></use>
                </svg>
              </div>
              <div class="about-card__content">
                <div class="about-card__title">Более 500 объектов</div>
                <div class="about-card__text">В таких городах, как Москва, Калининград, Новосибирск и Казань</div>
              </div>
            </div>
          </div>
          <div class="columns__col--3 columns__col-laptop-min--4 columns__col-tab--6 columns__col-mob--12">
            <div class="about-card">
              <div class="about-card__icon">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-book"></use>
                </svg>
              </div>
              <div class="about-card__content">
                <div class="about-card__title">Большой спектр продукции</div>
                <div class="about-card__text">Наши каталоги насчитывают более 10 000 дверей</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-130 mbm-60">
      <span class="section__anchor" id="products"></span>
      <div class="container">
        <div class="section__side-mark" data-title="наши продукты"></div>
        <h3 class="title title--line mb-65 mbm-20">Наши продукты</h3>
        <div class="slider-block">
          <div class="options-card">
            <div class="options-card__inner options-card__inner--left">
              <div class="options-card__title">Двери</div>
              <div class="options-card__text">более 10 000 наименований, среди которых</div>
              <ul class="options-card__list">
                <li>Межкомнатные</li>
                <li>Противопожарные</li>
                <li>Влагостойкие</li>
                <li>Для гостиниц и отелей</li>
                <li>Звукоизоляционные</li>
                <li>Для торговых, офисных и бизнес-центров</li>
                <li>Для медицинских учреждений</li>
                <li>Для аэропортов</li>
                <li>Для санузлов</li>
                <li>Для спортивных комплексов и стадионов</li>
              </ul>
            </div>
          </div>
          <div class="slider" data-slider data-slider-slides="1" data-slider-slides-tab="1">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-doors-1.png" alt="">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-floor-1.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-doors-1.png" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="slider__controls slider__controls--right">
                <button class="slider__button slider__button--prev" data-slider-prev>
                  <svg class="slider__button-icon--min">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                  </svg>
                  <svg class="slider__button-icon--max">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-max"></use>
                  </svg>
                </button>
                <button class="slider__button slider__button--next" data-slider-next>
                  <svg class="slider__button-icon--min">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                  </svg>
                  <svg class="slider__button-icon--max">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-max"></use>
                  </svg>
                </button>
              </div>
              <div class="slider__pagination" data-slider-pagination></div>
            </div>
          </div>
        </div>
        <div class="slider-block">
          <div class="slider" data-slider data-slider-slides="1" data-slider-slides-tab="1">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-doors-1.png" alt="">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-floor-1.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-doors-1.png" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="slider__controls slider__controls--left">
                <button class="slider__button slider__button--prev" data-slider-prev>
                  <svg class="slider__button-icon--min">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                  </svg>
                  <svg class="slider__button-icon--max">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-max"></use>
                  </svg>
                </button>
                <button class="slider__button slider__button--next" data-slider-next>
                  <svg class="slider__button-icon--min">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                  </svg>
                  <svg class="slider__button-icon--max">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-max"></use>
                  </svg>
                </button>
              </div>
              <div class="slider__pagination" data-slider-pagination></div>
            </div>
          </div>
          <div class="options-card">
            <div class="options-card__inner options-card__inner--right">
              <div class="options-card__title">Напольные покрытия</div>
              <div class="options-card__text">для коммерческих и медицинских помещений, гостиничных и спортивных
                комплексов
              </div>
              <ul class="options-card__list">
                <li>Ламинат</li>
                <li>Линолеум</li>
                <li>Инженерная доска</li>
                <li>Ковровые покрытия</li>
                <li>Наливной пол</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="slider-block">
          <div class="options-card">
            <div class="options-card__inner options-card__inner--left">
              <div class="options-card__title">Ворота</div>
              <div class="options-card__text">для коммерческих и промышленных объектов</div>
              <ul class="options-card__list">
                <li>Технические</li>
                <li>Рулонные</li>
                <li>Откатные</li>
                <li>Противопожарные</li>
              </ul>
            </div>
          </div>
          <div class="slider" data-slider data-slider-slides="1" data-slider-slides-tab="1">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-doors-1.png" alt="">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-floor-1.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-slide">
                    <picture class="product-slide__picture">
                      <img src="./assets/images/img-doors-1.png" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="slider__controls slider__controls--right">
                <button class="slider__button slider__button--prev" data-slider-prev>
                  <svg class="slider__button-icon--min">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                  </svg>
                  <svg class="slider__button-icon--max">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-max"></use>
                  </svg>
                </button>
                <button class="slider__button slider__button--next" data-slider-next>
                  <svg class="slider__button-icon--min">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                  </svg>
                  <svg class="slider__button-icon--max">
                    <use xlink:href="./assets/sprite.svg#icon-arrow-max"></use>
                  </svg>
                </button>
              </div>
              <div class="slider__pagination" data-slider-pagination></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <span class="section__anchor" id="projects"></span>
      <div class="container">
        <div class="section__side-mark section__side-mark--bottom" data-title="реализованные проекты"></div>
        <h3 class="title title--line mb-40 mbm-20">Реализованные проекты</h3>
        <div class="slider slider--wide" data-slider data-slider-slides="1" data-slider-slides-tab="1">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="project-slide">
                  <picture data-fancybox="gallery"
                           data-src="./assets/images/project-1.jpg"
                           data-caption="Театр Эстрады “Янтарь Холл” (Калининград)"
                           class="project-slide__picture">
                    <img src="./assets/images/project-1.jpg" alt="Театр Эстрады “Янтарь Холл” (Калининград)">
                  </picture>
                  <p class="project-slide__caption">Театр Эстрады “Янтарь Холл” (Калининград)</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="project-slide">
                  <picture data-fancybox="gallery"
                           data-src="./assets/images/project-2.jpg"
                           data-caption="Международный аэропорт г.Казань, терминал 1 (Казань)"
                           class="project-slide__picture">
                    <img src="./assets/images/project-2.jpg" alt="Международный аэропорт г.Казань, терминал 1 (Казань)">
                  </picture>
                  <p class="project-slide__caption">Международный аэропорт г.Казань, терминал 1 (Казань)</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="project-slide">
                  <picture data-fancybox="gallery"
                           data-src="./assets/images/project-3.jpg"
                           data-caption="Дворец спорта “Автотор-арена” (Калининград)"
                           class="project-slide__picture">
                    <img src="./assets/images/project-3.jpg" alt="Дворец спорта “Автотор-арена” (Калининград)">
                  </picture>
                  <p class="project-slide__caption">Дворец спорта “Автотор-арена” (Калининград)</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="project-slide">
                  <picture data-fancybox="gallery"
                           data-src="./assets/images/project-4.jpg"
                           data-caption="Многофункциональный медицинский центр (Санкт-Петербург)"
                           class="project-slide__picture">
                    <img src="./assets/images/project-4.jpg"
                         alt="Многофункциональный медицинский центр (Санкт-Петербург)">
                  </picture>
                  <p class="project-slide__caption">Многофункциональный медицинский центр (Санкт-Петербург)</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="project-slide">
                  <picture data-fancybox="gallery"
                           data-src="./assets/images/project-5.jpg"
                           data-caption="Московская Мемориальная Мечеть (Москва)"
                           class="project-slide__picture">
                    <img src="./assets/images/project-5.jpg" alt="Московская Мемориальная Мечеть (Москва)">
                  </picture>
                  <p class="project-slide__caption">Московская Мемориальная Мечеть (Москва)</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="project-slide">
                  <picture data-fancybox="gallery"
                           data-src="./assets/images/project-6.jpg"
                           data-caption="Торговый-развлекательный центр “Европа” (Калининград)"
                           class="project-slide__picture">
                    <img src="./assets/images/project-6.jpg"
                         alt="Торговый-развлекательный центр “Европа” (Калининград)">
                  </picture>
                  <p class="project-slide__caption">Торговый-развлекательный центр “Европа” (Калининград)</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="project-slide">
                  <picture data-fancybox="gallery"
                           data-src="./assets/images/project-7.jpg"
                           data-caption="Центр Высоких Медицинских Технологий (Калининград)"
                           class="project-slide__picture">
                    <img src="./assets/images/project-7.jpg" alt="Центр Высоких Медицинских Технологий (Калининград)">
                  </picture>
                  <p class="project-slide__caption">Центр Высоких Медицинских Технологий (Калининград)</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="project-slide">
                  <picture data-fancybox="gallery"
                           data-src="./assets/images/project-8.jpg"
                           data-caption="Шлосс Отель Янтарный (Калининградская область)"
                           class="project-slide__picture">
                    <img src="./assets/images/project-8.jpg" alt="Шлосс Отель Янтарный (Калининградская область)">
                  </picture>
                  <p class="project-slide__caption">Шлосс Отель Янтарный (Калининградская область)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="slider__controls-center">
            <button class="slider__button-basic slider__button-basic--prev" type="button" data-slider-prev>
              <svg>
                <use xlink:href="./assets/sprite.svg#icon-slider-arrow"></use>
              </svg>
            </button>
            <button class="slider__button-basic slider__button-basic--next" type="button" data-slider-next>
              <svg>
                <use xlink:href="./assets/sprite.svg#icon-slider-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
</div>
</body>
</html>